<nav class="navbar navbar-light bg-faded fixed-top navbar-toggleable-sm" id="menuTop" ng-controller="NavbarCtrl">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#!/home">
        <h2>Tricosphere</h2>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex justify-content-start w100">
            <li class="nav-item active" ng-repeat="item in menuItems">
                <a class="nav-link" href="{{item.link}}">
                 {{item.text}}
             </a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mercerie
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#!/merceries/recherche">Rechercher</a>
              <a class="dropdown-item" href="#">Mes merceries</a>
              <a class="dropdown-item" href="#">Ma mercerie</a>
          </div>
      </li>
      <li class="nav-item dropdown ml-auto">
        <button class="dropdown-item" ng-click="doDeconnect()">
            <i class="fa fa-2x fa-times" aria-hidden="true"></i> <!-- Deconnexion -->
        </button>
    </li>
</ul>
</div>
</nav>

<!-- NAVBAR en bas pour les mobiles -->
<!-- <div class="row fixed-top bg-faded d-flex" id="mobileTitle">
    <div class="col-2 col-sm-2 text-center align-self-center">
        <a href="#!{{prevPageLink}}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-10 col-sm-10 text-center align-self-center p-3">
        Tricosphere
    </div>
</div> -->
<div class="row fixed-bottom bg-faded d-flex justify-content-between" id="menuBottom" ng-controller="NavbarCtrl">
    <div class="col text-center itemMenuBottom d-flex align-items-center justify-content-center" ng-repeat="item in menuItems">
        <a href="{{item.link}}">
            <i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
            <br /> {{item.text}}
        </a>
    </div>
</div>
