<div class="container wrap w-100">
    <div class="row -flex justify-content-between">
        <div class="col-12 col-md-4">
            <img src="http://fakeimg.pl/350x100/" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-12 col-md-4">
            Infos mercerie
        </div>
        <div class="col-12 col-md-4">
            Horaires
        </div>
    </div>
    <div class="row d-flex justify-content-around" style="margin-top: 50px;">
        <div class="col-12 col-md-6">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <h3>Produits</h3>
                </div>
                <div class="row d-flex">
                    {{toto}}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <h3>News</h3>
                </div>
            </div>
        </div>
    </div>
</div>